<!--classeurEsp.html-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_classeur_liste.css' %}">
</head>
<body>


    {% block content %}
    <div class="container">
        <div class="title">
            
            <h1>Espagnol</h1>
        
        </div>
        <div class="box-classeur">

            {% if classeurs %}
                <ul class="classeur-list">
                    {% for classeur in classeurs %}
                        <li class="classeur-item">
                            <a href="{% url 'classeur_detail_public' classeur.pk %}" class="classeur-link">
                                    <span class="classeur-title">{{ classeur.name }}</span>
                            </a>

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun classeur trouvé.</p>
            {% endif %}
    {% endblock %}

</body>
</html>