<!--classeurEsp.html-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_classeur_liste.css' %}">
    
</head>
<body2>
    <img src="{% static '/images/colisée2.jpg' %}" alt="colisée" class="background-image">


    {% block content %}
    <div class="container">
        <div class="title">
            
            <h1>Italien</h1>
        
        </div>
        <div class="box-classeur12">

            {% if classeurs %}
                <ul class="classeur-list">
                    {% for classeur in classeurs %}
                        <li class="classeur-item">
                            <a href="{% url 'classeur_detail_public' classeur.pk %}" class="classeur-link">
                                    <span class="classeur-title">{{ classeur.name }}</span>
                            </a>

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun classeur trouvé.</p>
            {% endif %}
        </div>
        <div style="position: fixed; bottom: 20px; right: 20px;">
            <a href="{% url 'sans-connection' %}" class="button">Back</a>
        </div>
    {% endblock %}
    </div>
</body2>
</html>