<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_register.css' %}">
</head>

<body>
    <nav>
          <h1> App'Roussô </h1>
          <ul>
              <li><a href="{% url 'welcome' %}"> Page d'acceuil</a></li>
              <li><a href="{% url 'logout' %}"> Se déconnecter</a></li>
          </ul>
    </nav>
    <div class="container">
        <div class="left">
            <h2>Se connecter</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
        
    </div>
</body>
</html>
