<!-- templates/registration/login.html -->
<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_register.css' %}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h2>S'inscrire</h2>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Register</button>
                </form>
                {% if form.non_field_errors %}
                    <p>{{ form.non_field_errors }}</p>
                {% endif %}
            </div>
        </div>
        
    </div>
</body>
</html>
