<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles_base.css' %}">
</head>

<body>
    <nav>
          <h1> App'Roussô </h1>
          <ul>
              <li><a href="{% url 'welcome' %}"> Page d'acceuil</a></li>
          </ul>
    </nav>

    <div class="container">
        
        <div class="right">
            <h1>
                Bienvenue dans votre bibliothèque !
            </h1>
            <br>
            <br>
            <p>
Bienvenue sur AppRoussô ! Ici, vous pourrez créer et organiser vos classeurs pour <br>chaque matière afin de faciliter votre apprentissage. Profitez de cette plateforme pour <br>structurer vos révisions de manière efficace et personnalisée            </p>
            <p>
                Commencez dès à présent !
            </p>
            <a href="{% url "classeur_list" %}" class= "button">Commencer</a>
        </div>
    </div>

</body>

</html>