<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles_base.css' %}">
</head>

<body>
    <div class="container">
        <div class="box-1"></div>
        <div class="box-2"></div>
    </div>

</body>

</html>

<!-- Your existing HTML content -->

<!-- Add this at the bottom of your template file -->
<div style="position: fixed; bottom: 20px; right: 20px;">
    <a href="{% url "welcome" %}" class= "button">Back</a>
</div>

