<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles_base.css' %}">
</head>

<body>
    <nav>
          <h1> App'Roussô </h1>
          <ul>
              <li><a href="{% url 'welcome' %}"> Page d'acceuil</a></li>
              <li><a href="{% url 'logout' %}"> Se déconnecter</a></li>
          </ul>
    </nav>

    <div class="container">
        <div class="left">
            <h1>Explorez</h1>
            <p>
                Amusez-vous et entraînez-vous avec vos propres mots !
            </p>
            <p>
                Découvrez les flashcards !
            </p>
            <a href="{% url "explore" %}" class= "button-left">Commencez</a>
        </div>
        <div class="right">
            <h1>
                Votre bibliothèque de cartes !
            </h1>
            <p>
                Créez vos propres cartes, tous vos classeurs sont ici.
            </p>
            <p>
                Commencez dès à présent !
            </p>
            <a href="{% url "classeur_list" %}" class= "button-right">Créez vos cartes</a>
        </div>
    </div>

</body>

</html>