<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_flashcards.css' %}">
    <title>Flashcards</title>
   
</head>
<body>
    {% if classeur.category == 'ES' %}
        <img src="{% static 'images/pexels-olenagoldman-998736.jpg' %}" alt="Image pour catégorie ES" class="background-image">
    {% elif classeur.category == 'EN' %}
        <img src="{% static 'images/pexels-sean-ingram-825343707-27940325.jpg' %}" alt="Image pour catégorie EN" class="background-image">
    {% elif classeur.category == 'DE' %}
        <img src="{% static 'images/pexels-detait-25053929.jpg' %}" alt="Image pour catégorie DE" class="background-image">
    {% elif classeur.category == 'IT' %}
        <img src="{% static 'images/colisée2.jpg' %}" alt="Image pour catégorie IT" class="background-image">
    {% else %}
        <img src="{% static 'images/colisée2.jpg' %}" alt="Image par défaut" class="background-image">
    {% endif %}
    <div class="container00">
        <div class="flash-pos">
            <div class="flashcard" id="flashcard" onclick="this.classList.toggle('flipped')">
                <div class="flashcard-inner">
                    <div class="flashcard-front">
                        <h4>{{ card.question }}</h4>
                    </div>
                    <div class="flashcard-back">
                        <h4>{{ card.answer }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Buttons under the flashcard -->
        <div class="card-actions">
            {% if check_card %}
                <form method="post" class="check-form">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ card.id }}">
                    <input type="hidden" name="solved" value="true">
                    <button type="submit" class="button">✅ Je sais</button>
                </form>
                <form method="post" class="check-form">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ card.id }}">
                    <input type="hidden" name="solved" value="false">
                    <button type="submit" class="button">❌ Pas encore</button>
                </form>
            {% else %}
                <a href="{% url 'card-update' card.id %}" class="button">✏️modifier</a>
                <a href="{% url 'card-delete' card.id %}" class="button">supprimer</a>
            {% endif %}
        </div>
    </div>
    

</body>
</html>