<!-- cards/templates/cards/card_form.html -->

<!-- start_cards.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles_welcome2.css' %}">
    <!-- Optional: Add some CSS for styling the button -->

<body>
    <nav>
          <h1> App'Roussô </h1>
          <ul>

              <li><a href="{% url 'welcome' %}"> Page d'acceuil</a></li>
              <li><a href="{% url 'logout' %}"> Se déconnecter</a></li>
                  
          </ul>
      </nav>
    
    <div class="container2">
            <h1>{{ classeur.name }}</h1>
            {% if card %}
                <h2>✏️ Edit Card</h2>
                <h2>Delete Card</h2>
            {% else %}
                <h2>Créez une carte</h2>
            {% endif %}
            <div class="box-qa">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="classeur_id" value="{{ classeur_id }}">
                    <button type="submit">Sauvegarder</button>
                </form>
                
                
            </div>
            <a href="{% url 'card-list' %}">
                Annuler
            </a>
            
    </div>

</body>

