<!-- card_existante.html-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_flashcards.css' %}">
    <title>Flashcards</title>
   
</head>
<body>

    <div class="container-card">
        {% if check_card %}
            <div class="flashcard" id="flashcard" onclick="this.classList.toggle('flipped')">
                <div class="flashcard-inner">
                    <div class="flashcard-front">
                        <h4>{{ check_card.front_content }}</h4>
                    </div>
                    <div class="flashcard-back">
                        <h4>{{ check_card.back_content }}</h4>
                    </div>
                </div>
            </div>
    
            <form method="post" action="{% url 'box' box_num=box_number %}">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ check_card.id }}"> <!-- L'ID de la carte aléatoire -->
                <div>
                    <button type="submit" name="solved" value="true">Je sais</button>
                    <button type="submit" name="solved" value="false">Je ne sais pas</button>
                </div>
            </form>
        {% else %}
            <p>Aucune carte disponible dans cette boîte.</p>
        {% endif %}
    </div>
</body>
</html>