<!--classeur_cartes.html -->
{% extends "cards/classeur_list.html" %}
{% load classeur_tags %}
{% load humanize %}
{% block content %}
    <h2>{{ classeur.name }}</h2>
    <nav>
        <a href="{% url 'classeur_list' %}">Back to Classeur List</a>
        {% classeur_boxes_as_links classeur %}
    </nav>
    {% if classeur.pk %}
        <p>
            <a href="{% url 'classeur-edit' classeur.pk %}">Modifier</a> |
            <a href="{% url 'classeur_delete' classeur.pk %}">Supprimer</a>
        </p>

        <div class="container3">
            <div class="box-flashcards">
                <h3>Cartes dans ce classeur :</h3>
                <ul>
                    {% for card in cards %}
                      <div class="cards-list">
                        <h4>{{ card.question }} - {{ card.answer }}</h4>
                      </div> 
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
            <p>Classeur non trouvé ou invalide.</p>
        {% endif %}

        <div style="position: fixed; bottom: 20px; right: 20px;">
            <a href="{% url 'classeur_list' %}" class="button">Back</a>
        </div>
        <div class="buttons">
            <a href="{% url 'card-create' classeur.pk %}" class="button">Create New Card</a>

        </div>

    {% block card_form %}{% endblock %}
{% endblock %}