<!--classeur_form.html-->
<!DOCTYPE html>
<html lang="fr">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_register.css' %}">
</head>

{% block content %}
     <div class="container4">  
         <div class="box-register2">   
            {% if classeur %}
                <h2>✏️ Modifier Classeur</h2>
            {% else %}
                <h1>Créez un nouveau classeur</h1>
            {% endif %}
             <div class="button-next">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="button-next">
                            <input type="submit" value="Sauvegarder">
                            <a href="{% url 'classeur_list' %}">Annuler</a>
                        </div>    
                    </form>
                    
             </div>
         </div>
     </div> 
{% endblock %}
