<!--classeur_cartes.html -->
{% extends "cards/classeur_list.html" %}
{% load classeur_tags %}
{% load humanize %}
{% block content %}
    <nav>
        <a href="{% url 'classeur_list' %}">Back to Classeur List</a>
        {% classeur_boxes_as_links classeur %}
    </nav>
    {% if classeur.pk %}

        <div class="container3">
            <div class="box-flashcards">
                
                <h3>Cartes dans {{ classeur.name }}:</h3>
                <a href="{% url 'card-create' classeur.pk %}" class="button">Create New Card</a>
                <ul>
                    {% for card in cards %}
                      <div class="cards-list">
                        <div class="card-content">
                            <h4>{{ card.question }} - {{ card.answer }}</h4>
                        </div>
                        <div class="card-actions">
                            <a href="{% url 'card-update' card.id %}" class="button">✏️ Edit Card</a>
                        </div>
                      </div> 
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
            <p>Classeur non trouvé ou invalide.</p>
        {% endif %}

        <div style="position: fixed; bottom: 20px; right: 20px;">
            <a href="{% url 'classeur_list' %}" class="button">Back</a>
        </div>
        <div class="buttons">
            

        </div>

    {% block card_form %}{% endblock %}
{% endblock %}