<!-- start_cards.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Optional: Add some CSS for styling the button -->
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        {% block content %}
            <h1>Rousseau's Binders</h1>
            <div class="buttons">
                <a href="{% url 'classeur_create' %}" class="button">Create a Binder</a>
                <!--button class="button" onclick="goBack()">Go Back to Start</button-->
            </div>
            <div style="position: fixed; bottom: 20px; right: 20px;">
                <button onclick="goBack()" class="btn btn-primary">Back</button>
            </div>
            {% if classeurs %}
                <h2>Liste des classeurs</h2>
                <ul>
                    {% for classeur in classeurs %}
                        <li><a href="{% url 'classeur_detail' classeur.pk %}">{{ classeur.titre }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>

    <!-- Add JavaScript to handle the back button functionality -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>