<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2>Tutoriel pour {{ classeur.name }}</h2>

        <h3>Cartes dans ce classeur :</h3>
            <ul>
                {% for card in cards %}
                    <li>{{ card.question }} - {{ card.answer }}</li>
                {% empty %}
                    <li>Aucune carte trouvée dans ce classeur.</li>
                {% endfor %}
            </ul>

<a href="{% url 'explore' %}" class="button">Retour à l'exploration</a>
</body>
</html>