<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_welcome.css' %}">
</head>
<body>
        <nav>
            <ul>
                <li><a href="{% url 'register' %}" class="button">S'inscrire</a></li>
                <li><a href="{% url 'login' %}" class="button">Se connecter</a></li>
                <li><a href="{% url 'logout' %}" class="button">Se déconnecter</a></li>
            </ul>
        </nav>
        
    <div class="container">    
        <div class="left">
            <h1>Bienvenue !</h1>
            <div>
                <p>Ou essayez des cartes sans connection !</p>
                <a href="{% url 'existing_cards' %}" class="button">cartes</a>
            </div>
        </div>
        <div class="right"></div>
            <img src="{% static '/images/image_learning.jpg' %}" alt="Learning Image">
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
