<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_welcome.css' %}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Rousseau's Flashcards App!</h1>
            <div>
                <a href="{% url 'existing_cards' %}" class="button">Existing cards</a>
                <a href="{% url 'create_cards' %}" class="button">Make my own</a>
                <a href="{% url 'register' %}" class="button">S'inscrire</a>
                <a href="{% url 'login' %}" class="button">Se connecter</a>
                <a href="{% url 'logout' %}" class="button">Se déconnecter</a>
            </div>
        </div>
        <div class="right"></div>
            <img src="{% static 'images/image_learning.jpg' %}" alt="Learning Image">
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
