.container3{
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
    flex-direction: column;

}

h1{
    font-size: 30px;
    color:black;
    text-align: center

}

.flashcard {
            width: 300px;
            height: 400px;
            perspective: 1000px;
            margin: 0 auto;
            position: relative;
        }
        .flashcard-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }
        .flashcard.flipped .flashcard-inner {
            transform: rotateY(180deg);
        }
        .flashcard-front, .flashcard-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            color: white;
        }
        .flashcard-front {
            background-color: #5f80ec;
        }
        .flashcard-back {
            background-color: #af2222;
            transform: rotateY(180deg);
        }
        .buttons {
            text-align: center;
            margin-top: 20px;
        }
        .buttons button {
          width: 330px;
        height: 50px;
        margin: 10px;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background: goldenrod;
        color: white;
        transition: background-color 0.3s;

        align-content: center;
        align-items: center;
        }