/* Flashcard styling */
        .flashcard {
            width: 16vw;
            height: 40vh;
            perspective: 1000px; /* This ensures that 3D transforms like flipping are visible */
            margin: 0 auto;
            position: relative;
        }

        .flashcard-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 0.8s;
            transform-style: preserve-3d; /* Preserve 3D effects */
        }

        .flashcard.flipped .flashcard-inner {
            transform: rotateY(180deg); /* Flip the card on Y-axis when 'flipped' class is added */
        }

        .flashcard-front, .flashcard-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden; /* Hide the back of the card when flipped */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 1vw;
            color:white;
        }

        .flashcard-front {
            background-color: #5f80ec; /* Front side color */
        }

        .flashcard-back {
            background-color: #af2222; /* Back side color */
            transform: rotateY(180deg); /* Start with the back side flipped */
        }

        .card-actions {
            text-align: center;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
    z-index: 1;
        }

        .card-actions button, .card-actions a {
            display:flex;
            padding: 10px 20px;
            margin: 10px;
            font-size: 0.8vw;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            background-color: #d55d5d;
            border: none;
            border-radius: 5px;
            display: inline-block;
        }

        .card-actions a {
            background-color: #5f80ec; /* Change button color for links */
        }

        .card-actions a:hover, .card-actions button:hover {
            background-color: #555;
        }