* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}
header {
    width: 100%;
    height: 100%;

}


nav  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* gdzwgauhd */
    background: #e6b063;

}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
}
nav ul li a:visited {
    color: white;
}
nav ul li a:active {
    color: white;
}

.container {
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    column-gap: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.container2{
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e6d6c2;
    flex: 1;
}

.left h1 {
    font-size: 60px;
    color: #ffffff;
    padding-top: 90px;
}

.left p {
    padding-top:40px ;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;


}


.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0056b3;
    flex:1

}

.right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

nav h1 {
    font-size: 30px;
    color: white;
    margin: 0;
    padding-left: 15px;
}


.box-qa{
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    background: #5f80ec;
    border:none;
    color: white;
    border-radius: 10px;



}

.text-block {
    display: flex;
    margin-bottom: 30px;
}

.text-block h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

.text-block p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0072ff;
}
.hello-block{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #0056b3;
    border-radius: 10px;


}
.hello-block h2{
    color: white;
    text-align: center;
}
.info-block {
    margin: 15px;
    height:370px;
    width: 300px;
    background: #cd6d6d;
    border-radius: 18px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s, box-shadow 0.2s;

}

.info-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.info-block h4 {
    padding: 9px;
    margin-top: 8px;
    color: white;
    text-align: center;
}
.info-block ul{
    list-style: none;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.info-block ul li a {
    color: white;
    text-decoration: none;
}

.info-block ul li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);

}
.info-block ul li a:visited {
    color: white;
}
.info-block ul li a:active {
    color: white;
}

@media (max-width: 1200px), (max-height: 6700px) {

    nav ul {
        list-style: none;
        width: 100%;
        text-align: right;
        padding-right: 30px;
    }

    nav ul li {
        display: inline-block;
        margin: 5px 10px;

    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
    }
    nav ul li a:hover {
        color: white;
    }
    nav ul li a:visited {
        color: white;
    }
    nav ul li a:active {
        color: white;
    }


    .container4{
        width : 1000px;
        height: auto;
        display: flex;

    }


    .left h1 {
        font-size: 1.5rem;
        color: #ffffff;
    }

    .left p {
        font-family: "poppins", sans-serif;
        font-size: 1rem;
        color: white;
        text-align: left;


    }

    .hello-block{
    background: #0056b3;
    border-radius: 10px;
    height: 200px;
    box-sizing: border-box;

    }

    .hello-block h2 {
    display: none;
    }

    .info-block {
    height:auto;
    width: 300px;
    background: #cd6d6d;
    border-radius: 18px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s, box-shadow 0.2s;
    }

    .info-block p {
        font-size: 1rem;
    }

    .info-block:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .info-block h4 {
        color: white;
        text-align: center;
        font-size: 1rem;
    }
    .info-block ul{

        list-style: none;
        width: 100%;
        text-align: center;
        margin-top: 5px;

    }

    .info-block ul li a {
        color: white;
        text-decoration: none;
        font-size: 10px;
    }

    .info-block ul li a:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.1);

    }
    .info-block ul li a:visited {
        color: white;
    }
    .info-block ul li a:active {
        color: white;
    }

}
