{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice terminé</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="exercise-complete-container">
        <h1>Bravo ! Vous avez terminé l'exercice.</h1>
        <p>Toutes les cartes ont été catégorisées deux fois dans 'd'.</p>
        <a href="{% url 'voc_all2' %}" class="btn">Recommencer</a>
    </div>
</body>
</html>