<!-- classeur_cartes.html -->
{% load cards_tags %}
{% load humanize %}
{% load static %}

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_classeur_liste.css' %}">
</head>
 <nav3>
        
        {% boxes_as_links %}
 </nav3>
<div class="container3">
        <div class="box-flashcards">
            {% if card_data %}
                <ul>
                    {% for card in card_data %}
                        <li class="cards-list">
                            <div class="card-content">
                                <h4>{{ card.front_content }} - {{ card.back_content }}</h4>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ no_cards_message }}</p>
            {% endif %}
        </div>
</div>


<!-- Bouton pour ouvrir la modale -->
<button id="rulesBtn" class="fixed-button">Comment ça marche ?</button>

<!-- Modale -->
<div id="rulesModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Comment ça marche la méthode Leitner ?</h2>
        <p>Cette méthode optimise le temps d'apprentissage en espaçant les sessions de révision.</p>
        <p>Les cartes avancent ou reculent dans les boîtes en fonction de vos réponses.</p>
    </div>
</div>

<script>
    var modal = document.getElementById("rulesModal");
    var btn = document.getElementById("rulesBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>