* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color:white;
}
header {
    width: 100%;
    height: 100%;

}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* gdzwgauhd */
    background: #e6b063;
    position: relative;
    z-index: 1;

}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    color: white;
}
nav ul li a:visited {
    color: white;
}
nav ul li a:active {
    color: white;
}

.container {
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    padding-top: 20px;
    align-items:center;
    flex-direction: column;
    position: relative;
    z-index: 1;


}
.left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    flex: 1
}

.left h1 {
    font-size: 60px;
    color: black;
    padding-top: 90px;
}

.left p {
    padding-top:40px ;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    color: black;
    text-align: left;


}


.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0056b3;
    flex:1

}

.right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

nav h1 {
    font-size: 30px;
    color: white;
    margin: 0;
    padding-left: 15px;
}

.btn {
    padding-top: 51.5px;
}

.button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    transition: background-color 0.3s;

}

.box-register {
    background: #e6a24d;
    width: 70vw;
    height: auto;
    justify-content: center;
    align-content: center;
    padding: 60px;



}

h2 {
    font-family: arial;
    color: #1b1b1b;
    font-size: 50px;
    display: flex;
    justify-content: center;
}


div ul {
    list-style: none;
    width: 100%;
    text-align: left;
    padding-right: 60px;
    row-gap: 10px;
}

div ul li {
    display: flex;
    margin: 20px 30px;
}

div ul li a {
    color:white;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

div ul li a:hover {
    color: black;
}
div ul li a:visited {
    color: black;
}
div ul li a:active {
    color: black;
}

h1{
    font-size: 40px;
    color: white;

    align-content: center;
    text-align: center;
}

.box-qa{
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
    background: #d55d5d;
    border:none;
    margin-top:3vh;
    color: white;
    border-radius: 10px;
    padding: 2vw;
    box-sizing: border-box;



}

.container2{
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container-card{
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.container3 {
    display:flex;
    flex-direction: column;
    width: 100vw;
    align-itmes:left0;

    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;

}
.box-classeur {
    width: 70vw;
    height: auto;

    justify-items:center;
    align-content:center;
    background-color: #899cdc;
    padding: 20px;
    border-radius: 15px;
    flex:5



}

.box-classeur12 {
    width: 70vw;
    height: auto;

    justify-items:center;
    align-content:center;
    padding: 20px;
    border-radius: 15px;
    flex:5



}

.box-flashcards {
    margin:0 auto;
    width: 60vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
    background-color: #899cdc;
    border-radius: 15px;
}

.box-flashcards h3, .box-classeur h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


ul {
    list-style: none;
    padding: 0;
}

.cards-list, .classeur-list {
    width: 50vw;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;


}


.cards-list h4, .classeur-list {
    font-size: 18px;
    color: #555;

}

nav2, nav3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    /* gdzwgauhd */
    background: #d55d5d;

}
nav2 ul , nav3 ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;

}

nav2 ul li, nav3 ul li{
    display: inline-block;
    margin: 10px 20px;

}

nav2 ul li a , nav3 ul li a{
    color: white;
    text-decoration: none;
}
nav2 ul li a, nav3 ul li a:hover {
    color: white;
}
nav2 ul li a, nav3 ul li a :visited {
    color: white;
}
nav2 ul li a, nav3 ul li a :active {
    color: white;
}



.card-content {
    flex-grow: 1;
}

/* Aligns the button on the right */
.card-actions {
    flex-shrink: 0;
    justify-content: right;
}

.classeur-list li a button {
    text-align: right;

}

.classeur-list li{
    background: rgb(232, 126, 159);
    padding: 10px;
    border-radius: 5px;
}

.classeur-title {
    flex: 2
}





/* Style pour la modale */
        .modal {
            display: none; /* Cacher la modale par dÃ©faut */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4); /* Background avec transparence */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 2vw;
            border: 1px solid #888;
            width: 50%; /* Largeur de la modale */
        }

        /* Le bouton de fermeture (x) */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* Style du bouton "RÃ¨gles du jeu" */
        .fixed-button {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 8px 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
        }

        .fixed-button:hover {
            background-color: #0056b3;
        }

.title {
    width:80vw;
    height:10vh;
    background: rgba(63, 71, 99, 0.5);    margin:40px;
    justify-items:center;
    align-content:center;
    border-radius:15px;

}
.title h1{
    color:#ffffff;
    text-align:center;
    justify-content:center;
    justify-items:center;
    font-size:100px;

}

.background-image {
    position: fixed; /* Fait que l'image reste en fond */
    top: 0;
    left: 0;
    width: 100%; /* Couvre toute la largeur */
    height: 100%; /* Couvre toute la hauteur */
    z-index: 0; /* S'assure que l'image est derrière le contenu */
}

.classeur-existant{
    width: 50vw;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.list-existante {
    padding:0.1rem;
    transition: transform 0.3s ease;
    background: rgba(255, 255, 255, 0.5); /* 0.5 pour 50% de transparence */



}

.list-existante:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background:white;
    border-radius: 5px;
}

.container-existant{
    display:flex;
    height: 90vh;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    z-index: 1;




}

.title-existant{
    display:flex;
    background: rgba(63, 71, 99, 0.5);
    width: 40vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    border-radius:1vw;

}

.title-existant h1{
    color: white;
    font-size: 5rem;


}

.text-expli{
    display:flex;
    height:auto;
    background: rgba(63, 71, 99, 0.5);
    width: 50vw;
    padding: 1vw;
    border-radius: 1vw;

}

.text-expli p {
    font-size: 0.8vw;
    word-spacing: 0.1vw;
    line-height:2.5


}

.box-boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 16rem;
    width: 80vw;


}

.box{
    display: flex;
    flex-direction:column;
    width: 16rem;
    height: 16rem;
    background: rgba(63, 71, 99, 0.5);
    align-items: center;
    justify-content:center;
    border-radius: 1.5vw ;
    transition: background-color 0.3s, transform 0.3s ease;
    text-decoration:none;

}





.box .number {
    font-size: 6rem;
    color: white;
    text-decoration:none;
}

.box-link {
    display: block;
    text-decoration: none;
}

/* Style de la boîte */
.box {
    padding: 10px;
    background: rgba(63, 71, 99, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.box:hover {
    background-color: #e0e0e0;
    color: #8989bb;
    transform: scale(1.05);
}

.number {
    font-weight: bold;
}

.card-count {
    font-size: 0.7vw;
    color: #555;
}



@media (max-width: 1580px), (max-height: 800px) {


    .box{
        display: flex;
        flex-direction:column;
        width: 10vw;
        height: 20vh;
        background: rgba(63, 71, 99, 0.5);
        align-items: center;
        justify-content:center;
        border-radius: 1.5vw ;
    }

    .box .number {
    font-size: 4vw;
    color: white;
    text-decoration:none;
    }

    .box a {
        text-decoration:none;
        font-size: 10px;


    }

    .box a mark{
        font-size: 0.8vw;

    }
}


.text-modal{
    padding: 3vw;
    color: black;
}

.title-card{
    display:flex;
    justify-content:center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 20vh;
    background: rgba(63, 71, 99, 0.5);
}

.title-card h2{
    color:white;
    font-size: 3vw;
}

.flash-pos{
    margin-top: 10vh;
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-items: center;
    align-items:center;
}

.number-left{
    position: relative;
    z-index: 1;
    display: flex;
    height:auto;
    width: 10vw;
    padding: 0.5vh;
    border-radius: 0.2vw;
    align-items:center;
    justify-content:center;
    background: #d58b47;
    margin: auto;
    margin-top: 6vh;
    font-size: 0.7vw;

}

.number-left mark{
    background:#f0c692;
    color: #555;
    font-size: 0.8vw;
}

