.container {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;

}


.box-1  {
    height: 100px;
    width: 100px;
    background-color: orange;

}

.box-2  {
    height: 100px;
    width: 100px;

    background-color: green;


}