* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --marked: CadetBlue; /* Define the background color for article */
    --accent: #6e48ad;
    --accent-bg: white;
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --code: #d81b60;
    --preformatted: #444;
}

/* Add background image */
body {
    display: flex;
    justify-content: flex-start; /* Aligne les éléments à gauche */
    align-items: flex-start;     /* Aligne les éléments en haut */
    min-height: 100vh;           /* Assure que le body prend toute la hauteur de la fenêtre */
    padding: 20px;               /* Un peu de padding autour pour éviter que la liste colle aux bords */
}


article {
    background-color: var(--marked);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2, h4 {
    margin-top: 0;
}

hr {
    background-color: var(--accent);
    border-color: var(--accent);
}

button,
a[role="button"] {
    color: white;
    text-decoration: none;
    margin-top: 40%;
}

input, select, textarea {
    width: 100%;
}
/* styles.css */

/* Style pour le conteneur principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Style pour le titre */
h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style pour les boutons */
.buttons {
    margin-top: 20px;
}





/* Style pour la liste */
.left-list {
    list-style-type: none;       /* Enlève les puces de la liste */
    margin: 0;                   /* Enlève la marge par défaut de la liste */
    background-color: #f0f0f0;   /* Couleur de fond pour la liste */
    padding: 10px;               /* Un peu de padding autour des éléments de la liste */
    border: 1px solid #ccc;      /* Bordure pour la liste */
}

/* Style pour les éléments de la liste */
.left.list li {
    margin-bottom: 5px;          /* Espacement entre les éléments de la liste */
    padding: 5px;                /* Un peu de padding pour les éléments */
    background-color: #fff;      /* Couleur de fond des éléments */
    border: 1px solid #ddd;      /* Bordure des éléments */
}

